<h1>Chat</h1>
<hr>

<div class="app-mensajes" id="app-mensajes">

  <div *ngFor="let chat of chatService.chats" [ngClass]="{'text-right': chatService.usuario.uid === chat.uid,
                    'text-left': chatService.usuario.uid !== chat.uid}">
    <span class="badge " [ngClass]="{'badge-primary': chatService.usuario.uid === chat.uid,
                      'badge-success': chatService.usuario.uid !== chat.uid}">{{chat.nombre}}</span>
    <p>{{chat.mensaje}}</p>
  </div>
</div>

<input type="text" name="mensaje" class="form-control personal" (keyup.enter)="enviar_mensaje()" [(ngModel)]="mensaje"
  eplaceholder="Apreta enter para enviar un mensaje..." [disabled]="inputDisabled">