<div class="container main-container">
  <h1>FireChat</h1>
  <div class="col-md-12 text-right mb-5">
    <button type="button" class="btn btn-outline-secondary" *ngIf="chatService.usuario.email == 'mail.javierlopez@gmail.com'"
      (click)="chatService.borrar()">Borrar</button>
    <button type="button" class="btn btn-outline-danger" *ngIf="chatService.usuario.uid" (click)="salir()">Logout</button>
  </div>

  <app-login *ngIf="!chatService.usuario.uid"></app-login>
  <div class="chat-window" *ngIf="chatService.usuario.uid">
    <app-chat></app-chat>
  </div>

</div>