<div class="row">
  <div class="col-md-12 text-center">
    <p>
      Ingrese al chat con la cuenta que desee:
    </p>
    <button type="buton" class="btn btn-outline-danger"
              (click)="ingresar('google')">
      Google
    </button>
    <button type="buton" class="btn btn-outline-info"
              (click)="ingresar('twitter')">
      Twitter
    </button>
    <button type="buton" class="btn btn-outline-secondary" (click)="ingresar('anon')">
      Anonimous
    </button>
  </div>

</div>
